#sidebar_title{
	font-size: 20;

	font-family: roboto;
	text-align: center; 
}

#sidebar{
	position: fixed;
	left: 0px;
	top: 0px; 
	
	height: 1000px;
	width: 210px;

	background-color: #000000;

}

#sidebar_element {
	color: #00FFFF;
	text-align: left;
	font-family: roboto;

	
}
#statistic {
	color: #00FFFF;
	text-align: left;
	font-family: roboto
}

#safety {
	color: #00FFFF;
	text-align: left;
	font-family: roboto
}

#mainpage{
	position: fixed;
	left: 210px;
	top: 0px;
	height: 700px;
	width: 1000px;
}

#container {
	
	position:fixed;
	top: 0px;
	left: 210px;
	width:  710px;
	height: 310px
}

#piechart {
	position:fixed;
	top: 0px;
	left: 950px;
	width:  710px;
	height: 310px

}

#line {
	position: fixed;
	bottom: 0px;
	left: 210px;
	width: 700px;
	height: 310px
}

#safetyrating {
	position: fixed;
	bottom: 0px;
	left: 950px;
	width: 620px;
	height: 310px
}