
#sidebar_title{
	font-size: 20;

	font-family: sans-serif;
	text-align: center; 
}

#sidebar{
	position: absolute;
	left: 0px;
	top: 0px; 
	
	height: 1000px;
	width: 220px;

	background-color: #FFFFFF;

}

#sidebar_element {
	color: #000000;
	text-align: left;
	font-family: sans-serif;

	
}
#statistic {
	color: #000000;
	text-align: left;
	font-family: sans-serif;
}

#safety {
	color: #000000;
	text-align: left;
	font-family: sans-serif;
}

#mainpage{
	position: absolute;
	left: 210px;
	top: 0px;
	height: 1000px;
	width: 4000px;
}

#container {
	
	position:absolute;
	top: 0px;
	left: 230px;
	width:  700px;
	height: 310px
}

#piechart {
	position:absolute;
	top: 0px;
	left: 950px;
	width:  710px;
	height: 310px

}

#line {
	position: absolute;
	left: 210px;
	top: 400px;
	width: 700px;
	height: 310px
}

#safetyrating {
	position: absolute;
	top: 450px;
	left: 950px;
	width: 700px;
	height: 310px
}

#braking {
	position: absolute;
	top: 800px;
	left: 210;
	width: 620px;
	height: 310px
}

#speed {
	position: absolute;
	top: 800px;
	left: 950px;


}